In [212]:
import pandas as pd
import numpy as np

In [213]:
# read raw data
df_train = pd.read_csv('../data/BADS_WS1718_known.csv', sep=',', na_values=['?', 'not_reported'])
df_test = pd.read_csv('../data/BADS_WS1718_class.csv', sep=',', na_values=['?', 'not_reported'])

In [214]:
# just to prove pythons superiority compared to R
#for col in df_train.columns:
#    print(df_train.groupby(col)['order_item_id'].nunique())

In [215]:
#for col in df_test.columns:
#    print(df_test.groupby(col)['order_item_id'].nunique())

In [216]:
# Clean data - will be refactored into a function

In [217]:
# 1. Drop order_item_id -> no value
df_train = df_train.drop(['order_item_id'], axis=1)
df_test = df_test.drop(['order_item_id'], axis=1)

In [218]:
# 2. Convert date columns to datetime format:  order_date, delivery-date, user_reg_date, user_dob

In [219]:
date_columns = ['order_date', 'delivery_date', 'user_reg_date', 'user_dob']
for date in date_columns:
    df_train[date] = pd.to_datetime(df_train[date], format="%Y-%m-%d")

In [220]:
for date in date_columns:
    df_test[date] = pd.to_datetime(df_test[date], format="%Y-%m-%d")

In [221]:
# 3. Calculate additional columns
# 3.1 Length of customership  (LOC) (order_date - user_reg_date )
#df['LOC'] 
df_train['LOC'] = (df_train.order_date - df_train.user_reg_date) / np.timedelta64(1, 'D')
df_test['LOC'] = (df_test.order_date - df_test.user_reg_date) / np.timedelta64(1, 'D')

In [222]:
#3.2 age of the customers df['age'] at the time of order (order_date - user_dob)
df_train['age'] = np.round((df_train.order_date - df_train.user_dob) / np.timedelta64(1, 'Y'))
df_test ['age'] = np.round((df_test.order_date - df_test.user_dob) / np.timedelta64(1, 'Y'))

In [223]:
#3.3 delivery-time (DT) (order_date - delivery_date)
df_train['DT'] = (df_train.delivery_date - df_train.order_date) / np.timedelta64(1, 'D')
df_test['DT'] = (df_test.delivery_date - df_test.order_date) / np.timedelta64(1, 'D')

In [246]:
#3.4 Number of past purchases (NPP)
past_purchases = df_train.user_id.value_counts()
df_train['npp'] = 0
npp = []
for elem in zip(df_train.user_id, df_train.npp):
    npp.append(past_purchases[elem[0]])
df_train.npp = npp

past_purchases = df_test.user_id.value_counts()
df_test['npp'] = 0
npp = []
for elem in zip(df_test.user_id, df_test.npp):
    npp.append(past_purchases[elem[0]])
df_test.npp = npp

In [245]:
# 3.5 Return rate of the customer

In [225]:
copy = df_train.copy()

In [226]:
t = copy.user_id.value_counts()

In [237]:
copy['npp'] = 0
npp = []
for elem in zip(copy.user_id, copy.npp):
    npp.append(t[elem[0]])
copy['npp'] = npp
copy.npp

0         2
1         3
2         2
3         2
4         1
5         6
6         5
7        12
8         1
9         4
10        3
11        3
12        2
13       10
14       10
15        3
16        3
17        3
18        2
19        9
20       10
21       12
22        4
23        2
24        5
25        4
26        1
27        4
28        4
29        4
         ..
99970     2
99971     7
99972     4
99973    10
99974     1
99975     1
99976     5
99977     4
99978     4
99979     5
99980     2
99981     3
99982     5
99983     2
99984     2
99985    18
99986     4
99987     1
99988     3
99989    75
99990     6
99991     4
99992     2
99993     3
99994     2
99995     4
99996     7
99997     1
99998    29
99999     7
Name: npp, Length: 100000, dtype: int64

In [161]:
import seaborn as sns, matplotlib.pyplot as plt
copy['age'] = copy.order_date - copy.user_dob
copy['age'] = copy['age'] /  np.timedelta64(1, 'Y')
#sns.distplot(copy.age)
#plt.show()

0        566.0
1        532.0
2          1.0
3          0.0
4        243.0
5        757.0
6         25.0
7        499.0
8          0.0
9         66.0
10         0.0
11       766.0
12        65.0
13        47.0
14       493.0
15        21.0
16       163.0
17         0.0
18       516.0
19       347.0
20       472.0
21       417.0
22       542.0
23       203.0
24         0.0
25       219.0
26         0.0
27       134.0
28         0.0
29       218.0
         ...
99970      0.0
99971    471.0
99972     70.0
99973     50.0
99974      0.0
99975      0.0
99976     62.0
99977    452.0
99978    467.0
99979      0.0
99980    470.0
99981      0.0
99982      0.0
99983      0.0
99984    186.0
99985    463.0
99986      0.0
99987    608.0
99988      0.0
99989    692.0
99990    240.0
99991    352.0
99992    351.0
99993    457.0
99994    109.0
99995     19.0
99996    550.0
99997    252.0
99998    534.0
99999    442.0
Name: LOC, Length: 100000, dtype: float64